<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/estilo.css">
    <link rel="stylesheet" href="static/media-query">
    <title>Cotacão em tempo real</title>
</head>
<body>
        <h1>
            {{titulo}}
        </h1>
        

        <div class="div-principal">

            <div class="div1">
                <p class="texto-div">Euro</p>
                <p class="cotacao-div">{{ euro }}</p>
            </div>
            
            <div class="div2">
                <p class="texto-div">Bitcoin</p>
                <p class="cotacao-div">{{ bitcoin }}</p>
            </div>
        

            <div class="div3">
                <p class="texto-div">Dollar</p>
                <p class="cotacao-div">{{ dollar }}</p>
            </div>

        </div>

        



</body>
</html>